---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">ChatGPT</span>
    <span class="gpt-subtitle">Web</span>
  </div>
  <p mt-1 op-60>免费使用,请勿滥用,基于模型(gpt-3.5-turbo). </p>
  <p mt-1 op-60>私有部署 wechat:  v_am1030</p>
</header>
